name: Testing with Java 17 and Java 21 on Ubuntu and Windows

on: [push, pull_request]

jobs:
  test-swift-shader:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        jdk: [17, 21]
        os: [windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: NcStudios/VulkanCI@v1.2
        with:
          sdkVersion: 1.4.309.0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew test
      - name: Store test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}${{ matrix.jdk }}-test-results
          path: build/reports

  test-lavapipe:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt update && sudo apt install mesa-vulkan-drivers
      - uses: actions/checkout@v4
      - run: curl https://sdk.lunarg.com/sdk/download/1.4.321.0/linux/vulkansdk-linux-x86_64-1.4.321.0.tar.xz > vulkan-sdk.tar.xz
      - run: tar -xJf vulkan-sdk.tar.xz
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4
      - run: source ./1.4.321.0/setup-env.sh && ./gradlew test
      - name: Store test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-lavapipe
          path: "build/reports"
      - name: Store JVM crashes
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: jvm-crashes-lavapipe
          path: "hs_err_pid**"
